body{
    background-color: var(--cor);
    font-family: var(--fonte-padrao);
}

header{
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
    text-align: center;
    padding: 30px;
}

header>h1{
    color: var(--cor1);
    font-family: var(--fonte-padrao);
    font-size: 3em;
    margin-bottom: 10px;
    text-shadow: 2px 3px 0px
    #00000081
}
header>p{
    color: rgba(255, 255, 255, 0.253);
    text-shadow: 2px 3px 0px
    #00000081;
    margin-bottom: 30px;
}